
.container-fluid1
{
    background-color: #2F4F4F;
}
.Navigation-bar
{
    margin: auto;
}
.Navigation-item
{
    margin: 0% 5%;
}
.content
{
    padding: 5% 0%;
}

.part-content1
{
    display: inline-block;
    width: auto;
    margin: 0% 3%;
    position: fixed;
    
    
}
.icon
{
    color: green;
}
.part-content2
{
    position: fixed;
    right: 5%;
}
.part-content3
{
    position: relative;
    left: 20%;
}

.images
{
    border-radius: 100%;
    width: 30px;
}
.dp
{
    position: relatives;
}
.dp1
{
    border-radius: 100%;
}
